.sign-up {
    .sign-up-container {
        .form-container {
            margin: 3rem auto 0;
        }

        .form-input-error {
            color: #e74c3c;
            margin: 1px auto 0;
            padding: 0px 0px 0px 10px;
        }
    }

}